timetable:
  import_path: "files/2023_kouki_jikanwari_kensaku.xlsx"
  export_path: "files/2023_kouki_jikanwari_kensaku.json"
  skip_rows: 2
  column_names:
    - "affiliation"
    - "course_classification"
    - "day_of_week"
    - "period"
    - "course_title"
    - "teaching_staff"
    - "classroom"
  use_cols:
    - "A"
    - "B"
    - "C"
    - "D"
    - "E"
    - "F"
    - "G"

syllabus:
  import_path: "files/com_humanculture2023.pdf"
  export_path: "tmp/out/com_humanculture2023_test_0324_2.json"
  text_bbox_setting: "bbox_fixed.csv"